PORT=3002
JWT_PRIVATE_KEY=ILIACHALLENGE
JWT_INTERNAL_KEY=ILIACHALLENGE_INTERNAL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=users
TRANSACTIONS_BASE_URL=http://ms-transactions:3001
